<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% if is_bought %}
    <h1>Vaša karta je kupljena. Hvala!</h1> <br>
    <b>Naziv filma:</b> {{projection_data.movie_name}} <br>
    <b>Vrijeme:</b> {{projection_data.time}} <br>
    <b>Broj sjedala: </b> {{ticket_data.seat_number}} <br>
    {% else %}
    <h1>Sva su mjesta popunjena.. :(</h1>
    {% endif %}
    {% endblock %}
</body>
</html>